@model Projeto.Pizzaria.Web.Models.CategoriaProdutoModel

@{
    ViewBag.Title = "Delete";
}

<h2>Deletar - Categoria Produto</h2>

<h3>Deseja realmente deletar esta Categoria?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PercentualDesconto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PercentualDesconto)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Voltar para a Lista", "CategoriaProduto")
        </div>
    }
</div>
