@model Projeto.Pizzaria.Web.Models.CategoriaProdutoModel

@{
    ViewBag.Title = "Details";
}

<h2>Detalhe - Categoria Produto</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PercentualDesconto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PercentualDesconto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "EditCategoriaProduto", new { id = Model.Id }) |
    @Html.ActionLink("Voltar para a Lista", "CategoriaProduto")
</p>
